*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
body{
    background-image: url(IMG1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    background-color: chocolate;
    height: 80px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    line-height: 70px;
    padding-left: 30px;
}
.mug{
    font-size: 50px;
    padding-left: 5px;
}
ul{
    float: right;
    text-transform: uppercase;
}
li{
    display: inline-block;
    padding-inline: 7px;
    line-height: 60px;
    margin-top: 0 5px;
    font-weight: bold;
}
li a{
    color: rgb(8, 8, 8);
    border-radius: 5px;
    border: 10px;
}
a:hover{
    background-color: rgb(199, 194, 194);
    transition: 0.9s;
}
.checkbtn{
    float: right;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
nav .fa{
    display: none;
}
h2{
    color: chocolate;
    text-transform: uppercase;
    padding-top: 50%;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    text-shadow: 2px 1px 0.5px;
    font-size: 70px;
}
.main p{
    color: rgb(15, 15, 14);
    padding-left: 20px;
    padding-top: 30%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#btn{
    margin-top: 10%;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 5px;
    margin-left: 45%;
    cursor: pointer;
}
#btn:hover{
    background: chocolate;
}
#about{
    padding-top: 50%;
}
.card{
    margin-left:  5%;
}
.heading{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -35%;
    margin-bottom: 50px;
    font-size: 30px;
}
.p1{
    margin-left: 40%;
    margin-top: -22%;
}
.p1 h4{
    font-size: 30px;
    font-weight: bold;

}
#about-btn{
    width: 200px;
    height: 30px;
    background: transparent;
    margin-top: 3%;
    border: 3px solid;
    cursor: pointer;
    transition: 0.8s;
    font-weight: bold;
    text-transform: uppercase;
}
#about-btn:hover{
    background: chocolate;
}
.heading2{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman';
    text-transform: uppercase;
    text-align: center;
    margin-top: -4.5%;
    margin-bottom: 3%;
}
.heading2 span{
    color: orangered;
}
.row{
    margin-left: 80px;
    border: 4px;
    border-radius: 10px;
    border: 10px;
    cursor: pointer;
    transition: all 2s;
}
.jp{
    padding-left: 31.5%;
    margin-top: -19.8%;
    border-radius: 10px;
}
.jp2{
    padding-left: 63%;
    margin-top: -19.7%;
}
.jp1:hover{
    transform: translateY(-10px);
}
.jp:hover{
    transform: translateY(-10px);
}
.jp2:hover{
    transform: translateY(-10px);
}
@media (max-width: 952px) {
    nav{
        height: 80px;
    }
    .logo{
        padding-left: 40px;
        font-size: 30px;
        padding-top: 10px;
        font-weight: bold;
    }
}
@media (max-width: 765px) {
    .checkbtn{
        display: block;
        line-height: 70px;
    }
    nav .fa{
        display: inline-block;
    }
    .jp{
        padding-left: 0%;
        margin-top: 0%;
    }
    .jp2{
        padding-left: 0%;
        margin-top: 0%;
    }
    .jp1:hover{
        transform: none;
    }
    .jp:hover{
        transform: none;
    }
    .jp2:hover{
        transform: none;
    }
    h2{
        padding-top: 45%;
        color: rgb(201, 98, 25);
        text-transform: uppercase;
        padding-top: 50%;
        font-weight: bold;
        font-family: serif;
        text-align: center;
        text-shadow: 2px 1px 0.5px;
        font-size: 30px;
    }
    .main p{
        color: rgb(14, 13, 12);
        padding-left: 20px;
        padding-top: 10%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    ul{
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: all .2s;
        position: fixed;
        background: rgb(27, 21, 18);
        text-transform: uppercase;
        text-align: center;
    }
    li{
        display: block;
        line-height: 80px;
        margin: 10px 0;
    }
    li a{
        font-size: 13px;
        color: rgb(165, 53, 12);
    }
    #check:checked ~ ul{
        right: -100%;
        padding: 0%;
        margin: 0%;
    }
    #btn{
        margin-top: 10%;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.5s;
        border-radius: 5px;
        margin-left: 40%;
        cursor: pointer;
    }
    #btn:hover{
        background: chocolate;
    }
    .heading{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: -25%;
        margin-bottom: 20px;
    }
    .card{
        border-radius: 10px;
        margin-left: 3%;
        margin-right: 3%;
    }
    #about{
        width: 100%;
        height: 120vh;
    }
    .container{
        padding-top: 10px;
    }
    .p1{
        margin-top: 3%;
        margin-inline-start: auto;
        margin-left: 2%;
    }
    #about-btn{
        width: 150px;
        height: 30px;
        background: transparent;
        margin-top: 3%;
        border: 3px solid;
        cursor: pointer;
        transition: 0.8s;
        font-weight: bold;
        text-transform: uppercase;
    }
    #about-btn:hover{
        background: chocolate;
    }
    .heading2{
        font-weight: bold;
        font-size: 25px;
        font-family: 'Times New Roman';
        margin-top: -20%;
        text-transform: uppercase;
        text-align: center;
    }
    .row{
        margin-left: 60px;
    }
}
